@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
div.container-fluid
{
    height:75px;
    width:100%;
    background-color: red;
    
}
div.container-fluid1
{
    height:200px;
    width:100%;
    background-color: blue;
    float:right;
    margin-left:100px;
    margin-top:100px;
}
.container-fluid img
{
    height:40px;
    width:40px;
    object-fit:cover;
    border-radius: 40px;
}
.h5
{
    color:white;
}
.a
{
    font-family:roboto;
    color:white;
    font-size:20px;
    font-weight:bold;
    letter-spacing:3px;
}
.b
{
    font-family:roboto;
    color:white;
    font-size:15px;
}
.mail
{
    height:65px;
    width:32%;
    background-color: rgb(170, 29, 29);
    float:right;
    padding:20px;
    color:white;
    word-spacing: 50px;
    margin-right:4%;
    margin-top:3%;

}
.search
{
    height:65px;
    width:59.7%;
    background-color: rgb(170, 29, 29);
    
    padding:5px;
    color:white;
    margin-left:4%;
    margin-top:3%;
    
}
.frame
{
    height:550px;
    width:97.6%;
    background-color:red;
    margin-top:0px;
    margin-left:1.2%;
    margin-right:1.4%;
    position:absolute;top:70px;
    padding:20%:

}
.form-control
{
    width:99%;
    height:45px;
    border:none;
    background-image: url(./img/search1.png);
    background-position: 730px 0px;
    background-repeat: no-repeat;
    text-align:left;
    margin:5px;
   
}
.form-control .img
{
    height:10px;
    width:10px;
}

.carousel-inner
{
    height:390px;
    width:93%;
    background:black;
    background:linear-gradient(rgb(0,0,0,0) ,rgb(0,0,0,3.8)),url("https://store-images.s-microsoft.com/image/apps.58021.69011092827716296.e9190db7-6f4c-478c-8555-3edad4336a39.de8bb314-af23-4670-9343-fa78251591c8?mode=scale&q=90&h=1080&w=1920");
    background-repeat: no-repeat;
    background-size:cover;
    position:absolute;bottom:70px;
    background-position:10px 10px;
    margin-left:3%;
    padding-top:100px;
    padding-left:40px;
    color:white;
}



.button1
{
    background-color:red;
    color:white;
}
div.base
{
    
    background-color:white;
    margin-top:33%;
    height:200px;
    width:89.85%;
    margin-left:5%;
    display:flex;
    border:none;
    padding:0px;

}
div.card
{
    width:300px;
    height:230px;
    background-color:rgb(248, 248, 248);
    position: relative;
    border:none;
    overflow:hidden;

}
div.card:nth-child(even)
{
    width:300px;
    height:230px;
    background-color:rgb(233, 230, 230);
    position: relative;
    border:none;
    color:red;

}
.base .card img
{
    object-fit:cover;
    height:100px;
    
}
.base .card p{
    font-size: 14px;
    color:grey;
    overflow: hidden;
}
.base .card h5{
    color:black;

}
.base .card > h5:nth-child(even){
    color:black;
}

div.card:hover
{
    width:300px;
    height:230px;
    background-color:rgb(224, 219, 219);
    transition: all 1s 0s linear;
}
.base .card img:hover
{
    height:100px;
    object-fit:cover;
    border-bottom:3px solid red;

}
.base .card p:hover{
    font-size: 14px;
    color:black;
    transition: all 1s 0s linear;
}
.base .card .fa-long-arrow-right
{
    color: grey;
}
.base .card .fa-long-arrow-right:nth-child(even)
{
    color:red;
    font-weight:lighter;
}
.base .card .fa-long-arrow-right:hover
{
    color:red;
}
.offer
{
    height:300px;
    width:96%;
    background:white;
    margin-top:5%;
    padding-left:70px;
}

.carousel-cell {
    width:230px;
    height: 250px;
   margin-right:10px;
    background:white;
    margin-top:2%;
    float:left;
    position:relative;
    
    border:1px solid rgb(233, 230, 230);
  }
  .carousel-cell.is-selected {
    border:1px solid grey;
  }
 
.triangle-right
{
    height:0;
    width:0;
    border-top:50px solid grey;
    border-right:50px solid transparent;
    float:left;
}
.triangle-left
{
    height:0;
    width:0;
    border-top:50px solid red;
    border-left:50px solid transparent;
    float:right;
}
.trialpha
{
    position: absolute;
    top:5px;
    color:white;
    transform: rotate(-45deg);
}
.trialpha1
{
    position: absolute;
    top:5px;
    color:white;
    margin-left:91%;color:white;
    text-align:left;
    transform: rotate(-45deg);
}
.red
{
    color:red;
    font-size:30px;
    font-weight:bold;
    
}
.offer .carousel-cell img{
    object-fit:cover;
    height:170px;
    width:150px;
    margin-left:15%;
}
.offer .carousel-cell h6{
    text-align:center;
    color:rgb(100, 99, 99)
}
.clips{
    height:250px;
    width:90%;
    background:black;
    margin-top:2%;
    margin-left:5%;
    
}
.red1
{
    color:red;
    margin-left:5%;
    font-size:40px;
    font-weight:bold;

}
.clips .carousel-cell-clip img{
    width:550px;
    object-fit:cover;
    height: 180px; /* height of carousel */
    
    margin-top:4%;
}
.clips .carousel-cell-clip {
    margin-right:10px;
}
.news{
    height:350px;
    width:90%;
    background:white;
    margin-top:5%;
    margin-left:5%;
    
}
.newsclip
{
        
    background-color:white;
    margin-top:3%;
    height:300px;
    width:100%;
    margin-left:0%;
    display:flex;
    border:none;
    padding:0px;
    overflow:hidden;


}
.newscard
{
    width:350px;
    height:320px;
    background-color:rgb(248, 248, 248);
    position: relative;
    border:none;
    overflow:hidden;


}
.newscard:nth-child(even)
{
    width:350px;
    height:320px;
    background-color:rgb(238, 238, 238);
    position: relative;
    border:none;

}
.newclip .newscard a{
    color:red;
}
.newsclip .newscard h6
{
    color:red;
    font-weight:bold;
    font-size:15px;
}
.newsclip .newscard h3
{
    color:grey;
    font-weight:lighter;
    font-size:12px;
}
.newsclip .newscard .fa-arrow-right
{
    color: grey;
}
.newsclip .newscard p{
    font-size: 14px;
    color:grey;
}
.newsclip .newscard img
{
    object-fit:cover;
    height:150px;
    width:300px;
    
}
.ending
{
    height:100px;
    width:100%;
    background-color:rgb(231, 231, 231);
    padding:0px;
    float:right;
    margin-right:px;
    margin-left:0px;
    margin-top:0%;
    position:relative;
  


}
.demo
{
    width:100%;
    height:100px;
    
    background:white;

}
.middle
{
    height:100px;
    width:90%;
    background-color:rgb(250, 250, 250);
    margin-left:5%;
    position:absolute;bottom:50px;
    border-bottom:6px solid red;
    display:flex;
    
}
.ending .middle img{
    width:100px;
    height:80px;
    margin-right:40px;
    margin-top:10px;
    margin-left:70px;
}  
.last img
{
    height:40px;
    width:40px;
    object-fit:cover;
    border-radius:40px;
    
}
.last .b
{
    font-family:roboto;
    color:black;
    font-size:25px;
    font-weight:lighter;
    letter-spacing:3px;

}
.last
{
    height:500px;
    width:100%;
    padding-left:200px;
    background-color: rgb(231,231, 231);
}
.last .c
{
    font-family:roboto;
    color:black;
    font-size:15px;
    font-weight:bold;
    margin-top:40px;
}
.last .d
{
    font-family:roboto;
    color:rgb(141, 140, 140);
    font-size:12px;
    font-weight:lighter;
    margin-top:40px;
    letter-spacing:0.5px;
    line-height:0.2cm;
    word-spacing:3px;

}
.last .d a{
    color:red;
    font-weight:bold;
}
.last a{
    color:rgb(98, 96, 96);
}
.last .e
{
    font-family:roboto;
    color:rgb(141, 140, 140);
    font-size:11px;
    font-weight:lighter;
    margin-top:10px;
    letter-spacing:0.5px;
    position:absolute;left:550px;
    margin-left:20px;
    line-height:0.8cm;
}
.last .e a:hover
{
    color:red;
}
.last .f
{
    font-family:roboto;
    color:rgb(141, 140, 140);
    font-size:12px;
    font-weight:lighter;
    margin-top:10px;
    letter-spacing:0.5px;
    position:absolute;left:800px;
    margin-left:20px;
    line-height:0.6cm;
}
.last .f a{
    color:rgb(141, 140, 140);
}
.last .f a:hover{
    color:red;
}
.last .g
{
    font-family:roboto;
    color:rgb(141, 140, 140);
    font-size:12px;
    font-weight:lighter;
    margin-top:10px;
    letter-spacing:0.5px;
    position:absolute;left:1050px;
    margin-left:20px;
    line-height:0.6cm;
}
.last .g a:hover{
    color:red
}

.navbar-toggler
{
    color:white;
}

@media (max-width:960px) 
{
    .newscard{
        width:500px;
    }
    .last
    {
        width:500px;
        padding:5px;
    }
    .demo
    {
        width:500px;
    }
    .ending
    {
        width:700px;
    }
    .middle{
        width:400px;
        margin-left:1%;
        display:none;
    }
    .last .f
{
   
    position:absolute;left:200px;
  
}
.last .g
{
  
    position:absolute;left:200px;
    margin-top:200px;
   
}
.last .d
{
    margin-left:10px;

}
.last .e{
    position:absolute;left:340px;
}
.ending .middle .img{
    margin-left:0px;
    margin-right:0px;
}
}



